@import url("../styles/fonts.css");

:root {
  /* theme color */
  --text-beige: #d4b882;
  --midnight: #264653;
  --forest: #2a9d8f;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
  --ocean: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

  /* theme font */
  --Montserrat: "Montserrat";
  --Oswald: "Oswald";
  --Poppins: "Poppins";
}

/* GLOBAL */
a {
  text-decoration: none;
  color: var(--text-beige);
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
html {
  background: whitesmoke;
}

.img-fluid {
  width: 100%;
}

.text-title {
  font-family: var(--Poppins);
}

.secondary-title {
  font-family: var(--Poppins);
}

.display-1 {
  font-size: 22px;
}
.display-2 {
  font-size: 15px;
}
.display-3 {
  font-size: 12px;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* GLOBAL  */

/* --------------------------nav----------------------- */
.nav {
  background: whitesmoke;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  width: 90%;
  top: 0%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icon i {
  font-size: 1.5rem;
  color: var(--midnight);
}

.collapse-t {
  height: 30rem;
  overflow: hidden;
  transition: all 0.9s ease-in-out;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Poppins);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--forest);
}

.nav .nav-title a {
  font-family: var(--Montserrat);
  font-size: 1.8rem;
  padding: 1rem 0;
  display: block;
}

.nav .social {
  padding: 1.5rem 0;
}
.nav .social i {
  padding: 0 0.2rem;
}
.nav .social i:hover {
  color: var(--forest);
}
/* ------------XX--------------nav-------------XX-------- */



.section{
    width: 95%;
    font-family: var(--Poppins);
}

.section .container{
    width:80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}

.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.container .title h1{
    text-transform: uppercase;
    font: 60px;
    color: var(--red);
}

.content{
    float: left;
    width:55%
}
.content .article h3{
    font-family: var(--Poppins);
    font-size: 18px;
}

.content .article a{
    color: green;
}

.content .article p{
    margin-top: 15px;
    font-size: 17px;
    line-height: 1.3;
}
.content .article .button{
    margin: 80px 0;
}
.content .article .button a{
    text-decoration: none;
    background: var(--red);
    border-radius: 45px;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    letter-spacing: 1.3px;
}

.img-section{
    float: right;
    width: 40%;
}
.img-section img{
    height: auto;
    width: 100%;
}



.container .social{
    width: 100%;
    clear: both;
    margin: 60px 0;
    text-align: center;
    display: inline-block;
}

.container .social i {
    color: var(--red);
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 45px;

}