@import url("../styles/fonts.css");

:root {
  /* theme color */
  --text-beige: #d4b882;
  --midnight: #264653;
  --forest: #2a9d8f;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
  --ocean: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

  /* theme font */
  --Montserrat: "Montserrat";
  --Oswald: "Oswald";
  --Poppins: "Poppins";
}

/* GLOBAL */
a {
  text-decoration: none;
  color: var(--text-beige);
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
html {
  background: whitesmoke;
}

.img-fluid {
  width: 100%;
}

.text-title {
  font-family: var(--Poppins);
}

.secondary-title {
  font-family: var(--Poppins);
}

.display-1 {
  font-size: 22px;
}
.display-2 {
  font-size: 15px;
}
.display-3 {
  font-size: 12px;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* GLOBAL  */

/* --------------------------nav----------------------- */
.nav {
  position: fixed;
  width: 100%;
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  width: 90%;
  top: 0%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icon i {
  font-size: 1.5rem;
  color: var(--midnight);
}

.collapse-t {
  height: 30rem;
  overflow: hidden;
  transition: all 0.9s ease-in-out;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Poppins);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--forest);
}

.nav .nav-title a {
  font-family: var(--Montserrat);
  font-size: 1.8rem;
  padding: 1rem 0;
  display: block;
}

.nav .social {
  padding: 1.5rem 0;
}
.nav .social i {
  padding: 0 0.2rem;
}
.nav .social i:hover {
  color: var(--forest);
}

li.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--text-beige);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: var(--text-beige);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


/* ------------XX--------------nav-------------XX-------- */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
.sites {
    position: relative;
    margin-bottom: 100px;
    display: inline-block;
    margin-left: 100px;
}

.sites h2{
    color: var(--midnight);
    margin-top: 100px;
    
}


footer {
    background-color: var(--text-beige);
    padding: 20px 23px;
    color: white;
    font-family: var(--Montserrat);
    text-align: center;
  }
  footer span a{
    color: var(--midnight);
  }